/* Most CSS is done in accordance with the University Style Guide:
    https://brand.charlotte.edu/
*/

:root{
    /* Charlotte Green */
    --primary-green: #005035;

    /* Niner Gold */
    --secondary-gold: #A49665;

    /* Quartz White */
    --tertiary-white: #FFFFFF;
}

header{}

body{}

footer{}