{% extends 'base.html' %}
{% block title %}Item Details{% endblock %}
{% block content %}
    <div class="container text-center mt-5">
        <h1>Welcome to the Second-Hand Marketplace</h1>
        <p>Buy, sell, and trade items easily with our platform.</p>

        <div class="mt-4">
            <a href="/login" class="btn btn-primary btn-lg mr-2">Login</a>
            <a href="/signup" class="btn btn-secondary btn-lg ml-2">Sign Up</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}