<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Settings | UNCC Second Hand Market</title>
    <link rel="stylesheet" href="../static\styles.css">
</head>
<body>
    <header>
        <h1>UNCC Second Hand Market</h1>
        <img src="../images\whiteCharlotteLogo.png" alt="UNCC Logo" width=200 height=150>
        <nav>
            <ul>
                <li><a href="dashboard.html">Home</a></li>
                <li><a href="userProfile.html">My Profile</a></li>
                <li><a href="settings.html">Settings</a></li>
            </ul>
        </nav>
        <!-- ADD USER INFO!!! -->
        <h2>{USERNAME} Settings </h2>
    </header>
    <div class="settings-main">
        
    </div>
    <footer>

    </footer>
</body>
</html>